<div class="dialog-background">
  <div class="dialog-content">
    <button (click)="closeModal()"  class="close-button">X</button>
    <h2 class="dialog-title">Formulario de Registro</h2>
    <hr class="dialog-separator">
    <form class="dialog-form" [formGroup]="agregarProductoForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-column">

          <label for="id">ID</label>
          <input type="text" formControlName="id" >



          <label for="nombre">Nombre</label>
          <input type="text" formControlName="nombre">

          <label for="descripcion">Descripción</label>
          <input type="text" formControlName="descripcion">
        </div>
        <div class="form-column">
          <label for="logo">Logo</label>
          <input type="text" formControlName="logo">

          <label for="fecha-liberacion">Fecha Liberación</label>
          <input type="date" formControlName="fechaLiberacion">

          <label for="fecha-revision">Fecha Revisión</label>
          <input type="date" formControlName="fechaRevision">
        </div>
      </div>
      <div class="separación">
        <button (click)="resetForm()" class="cerrar">Reiniciar</button>
        <button type="submit" class="enviar">Enviar</button>
      </div>
    </form>
  </div>
</div>
