<div class="container">
  <div class="contenedor">
    <div class="funciones">
      <input type="text" placeholder="Search...">
      <button>Agregar</button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
            <!-- Agrega más encabezados de columna si es necesario -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <!-- Agrega más celdas si es necesario -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pieTabla">
      <span>
        Resultados
      </span>
      <select>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <!-- Agrega más opciones si es necesario -->
      </select>
    </div>
  </div>
</div>
