<div class="container">
  <div class="contenedor">
    <div class="funciones">
      <input type="text" placeholder="Search..." (input)="actualizarBusqueda($event)">
      <button (click)="openModal()">Agregar</button>
    </div>
    <app-formulario-registro *ngIf="formModal"
      (closeDialog)="closeModal()"></app-formulario-registro>
    <div class="table-container">

      <table>
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del Producto</th>
            <th>Descripción <span></span></th>
            <th>Fecha de Liberación <span></span></th>
            <th>Fecha de reestructuración <span></span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productosFiltrados.slice(0, cantidadMostrar)">
            <td><img class="imagen-logo" src="{{item.logo}}" alt></td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_release | date: 'dd/MM/yyyy'}}</td>
            <td>{{item.date_revision | date: 'dd/MM/yyyy'}}</td>
            <td>
              opciones
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pieTabla">
      <span> {{productosArray.length}} Resultados</span>
      <select (change)="actualizarCantidadMostrar($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">20</option>
      </select>
    </div>
  </div>
</div>
